html, body, h1, h2, h3, h4, ul, ol, li, p, a {
	padding: 0;
	border: 0;
	margin: 0 auto 0 auto;
	font-size: 20px;
	font-weight: normal;
	font-family: Georgia, serif;
	color: #555555;
	border-color: #555555;
}
body {
	width: 500px;
}
.header h1 {
	letter-spacing: 2px;
	font-size: 30px;
	font-family: Georgia, serif;
	font-weight: bold;
	text-align: center;
	border-width: 0 0 3px 0;
	margin: 30px 0 10px 0;
}
.header h2 {
	font-size: 20px;
	font-family: "Courier new", monospace;
	text-align: center;
	margin: 0 0 30px 0;
}

.gender-button {
	position: right;
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}
.gender-girl {
	background: url(images/girl.png);
}
.gender-boy {
	background: url(images/boy.png);
}
.gender-na {
	background: url(images/na.png);
}

#hey-girl {
	width: 500px;
	height: 600px;
	text-shadow: 
		-2px 1px #555555, 
		1px -2px #555555,
		-1px 2px #555555,
		1px 1px #555555;
	margin-bottom: 20px;
}
.bg{
	background: #eeeeee url(images/r1.jpg);
}
.bg-lose{
	background: #eeeeee url(images/r3.jpg);
}
.bg-win{
	background: #eeeeee url(images/r2.jpg);
}
#hey-girl h3 {				
	padding-right: 250px;
	padding-top: 20px;
	font-size: 40px;
	font-family: "Courier new";
	font-weight: bold;
	color: #eeeeee;
	height: 400px;
	width: 200px;
}
#hey-girl p {				
	font-size: 30px;
	font-family: "Courier new";
	font-weight: bold;
	color: #eeeeee;
	padding-left: 150px;
	width: 350px;
	height: 200px;
}
label, input {
	display: block;
	margin-bottom: 20px;
}
label {
	font-family: "Courier new", monospace;
	font-size: 20px;
	text-align: center;
}
input {
	text-align: center;
	padding: 5px;
	font-size: 15px;
	font-family: "Courier new", mono-space;
	font-weight: bold;
	color: #eeeeee;
	background: #777777;
	border-color: #ffffff;
	border-width: 1px;
	margin: 0 auto 0 auto;
}

.guess-info {
	float: left;
	width: 250px
}
.hint-info {
	float: right;
	width: 250px
}

.guess-info p {
	text-align: right;
	padding-right: 120px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.hint-info p {
	padding-left: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

input[value=guess], input[value=hint]  {
	margin: 0 auto 20px auto;
	display: inline;
	width: 70px;
}

input[type=text] {
	margin: 0 auto 10px auto;
	font-size: 20px;
	padding: 10px;
	width: 70px;
	font-family: Georgia, serif;
	color: #555555;
	background: #ffffff;
	border-color: #555555;
}

.reset-button {
	margin-bottom: 50px;
}
.p-guesses {
	font-size: 17px;
	background: #eeeeee;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	letter-spacing: 2px;
}
